{{> meta}}
<body>
   {{> header}}
    

    <p>
       Talk to us 
    </p>

    <form action="/contact">
        <p>
            <input type="text" name="name" id="name" placeholder="Name">
        </p>

        <p>
            <button type="submit">Send</button>
        </p>
    </form>

{{> footer}}
</body>
</html>